ul li{
    list-style-type: none;
}

nav{
    font-size: 13px;
}

a{
    text-decoration: none !important;
}

.account a, nav ul li a{
    color: #fff !important;
}

#header{
    background-image: url(/assets/IMGS/home.jpg);
    background-position: center center;
    background-size: cover;
}

#header .container-fluid{
    min-height: 600px;
}

#header label{
    font-size: 11px;
    font-weight: bold;
}

#header input{
    background-color: transparent !important;
    border: none;
}

#header input::placeholder{
    color: grey;
    font-size: 13px;
}

#header h1{
    font-size: 100px;
    line-height: 90%;
}