@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif !important;
}

ul li{
    list-style-type: none;
}

input:focus{
    outline: none !important;
}

input[type="date"]::before{
    display: none !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

nav{
    font-size: 13px;
}

a{
    text-decoration: none !important;
}

.account a, nav ul li a{
    color: #fff !important;
}

#header{
    background-image: url(/assets/IMGS/home.jpg);
    background-position: center center;
    background-size: cover;
}

#header .container-fluid{
    min-height: 600px;
}

#header label{
    font-size: 11px;
    font-weight: bold;
}

#header input{
    background-color: transparent !important;
    border: none;
}

#header input::placeholder{
    color: grey;
    font-size: 14px;
}

#header h1{
    font-size: 80px;
    line-height: 85%;
}
main .card{
    cursor: pointer;
    transition: all .3s ease;
}


main .card:hover{
    transform: scale(1.1);
}

main .card img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}